<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<packageSources>
		<add key="tb-proxy" value="https://nexus3.aksa.com.pk:8443/repository/dotnet-tb-proxy/index.json" />
		<add key="tb-custom" value="https://nexus3.aksa.com.pk:8443/repository/tb-revamp/" />
	</packageSources>
	<disabledPackageSources />
	<activePackageSource>
		<add key="All" value="(Aggregate source)" />
	</activePackageSource>
</configuration>